apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: production

resources:
  - ../base/deployment.yaml
  - ../base/service.yaml
  - ../base/hpa.yaml
  - ingress.yaml

images:
  - name: registry.local:5000/sample-app
    newTag: latest
